.search-bar {
    padding: 1.6rem;
    position: relative;
    background-color: #FFF;
    top: -4rem;
    border-radius: 6px;
    height: 8rem;
    margin-inline: 16.5rem;
    display: grid;
    column-gap: 1rem solid #E5E7EB;
    grid-template-columns: 463fr 300fr 190fr 155fr;
    align-items: center;
}

.search-bar input {
    font-size: 1.6rem;
}

.search-bar input.glass,
.search-bar input.map {
    background-repeat: no-repeat;
    background-position: left;
    background-position: 10px;
    text-indent: 4rem;
    font-family: 'Kumbh Sans', sans-serif;
    border: none;
    outline: none;
    font-size: 1.5rem;
    height: 100%;
    border-right: #E5E7EB 1px solid;
}

.search-bar input.glass {
    background-image: url(../../../public/img/glass.svg);
    border-radius: 6px 0 0 6px;
}

.search-bar input.map {
    background-image: url(../../../public/img/map.svg);
}

.search-bar label {
    margin-inline: 1rem;
    display: flex;
    align-items: center;
}

.search-bar label span {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
}

.search-bar label input {
    font-family: 'Kumbh Sans', sans-serif;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}



.Toastify__toast-body {
    color: #19202D;
    font-size: 3rem;
}


/* On tente le responsive ici */

/* pour passer de Full Time Only à Full Time sur la search bar */

@media (max-width: 1100px) {
    .search-bar {
        margin-inline: 4rem;
    }
}

.search-bar .desktop {
    display: inline-block;
}

.search-bar .mobile {
    display: none;
}

@media (max-width: 820px) {
    .search-bar .desktop {
        display: none;
    }

    .search-bar .mobile {
        display: inline-block;
    }
}

@media (max-width: 700px) {
    .search-bar {
        margin-inline: 2.4rem;
        padding: 1rem;
    }
}
@media (max-width: 675px) {
    .search-bar {
        top: -6rem;
        height: auto;
        grid-template-columns: none;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
        padding-top: 1rem;
    }

    .search-bar input {
        margin: 1rem;
    }
    .search-bar .btn {
        padding: 1rem;
        margin: 1rem;
        width: 50%;
        align-self: center;
    }
}