/* #region FONTS  */
/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/kumbh-sans-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('/public/fonts/kumbh-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/public/fonts/kumbh-sans-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/public/fonts/kumbh-sans-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/public/fonts/kumbh-sans-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/public/fonts/kumbh-sans-v20-latin-regular.svg#KumbhSans') format('svg');
  /* Legacy iOS */
}


/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/kumbh-sans-v20-latin-700.eot');
  /* IE9 Compat Modes */
  src: url('/public/fonts/kumbh-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/kumbh-sans-v20-latin-700.woff2') format('woff2'),
    url('/public/fonts/kumbh-sans-v20-latin-700.woff') format('woff'),
    url('/public/fonts/kumbh-sans-v20-latin-700.ttf') format('truetype'),
    url('/public/fonts/kumbh-sans-v20-latin-700.svg#KumbhSans') format('svg');
}

/* #endregion FONTS  */

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #F4F6F8;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

li {
  font-size: 1.6rem;
  color: #6E8098;
}

.center {
  text-align: center;
}



/* J'ai mis une image par défaut qui était noire et n'était pas folle niveau accessibilité j'ai mis cette solution qu'il faudra supprimer quand les png seront réels */
.logo img {
  filter: invert(1);
}